
body {
   width: 1200px;
    flex-shrink: 1;
}
h1 {
    background-color: grey;
    
}.container {
    height: 300px;
    width: 1200px;
    display: flex;
    background-color: grey;
    flex-grow: 0;
    
    
}
.item {
    min-width: 150px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #f59393;
    flex-grow: 1;
}
.item-1 {
    display: flex;
    flex-direction: column;
    width: 250px;
    flex-grow: 0;
    align-items: center;
}

.item-2 {
    display: flex;
    align-content: center;
    flex-grow: 1;
    
}
.seed {
    min-width: 150px;
    min-height: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: aqua;

}
.seed-3 {
    flex-grow: 0;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.seed-3 img {
    width: 100%;
    height: auto;
}
.seed-4 {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    margin: 10px;
    border: 3px solid #333;
    flex-grow: 1;
    
}
.plant {
    height: 75px;
    margin: 10px;
    border: 3px solid #333;
    background-color: blue;
    
}
.plant-5 {
    flex-grow: 1;
}
.plant-6 {
      
}
.top-seed {
    min-width: 175px;
    min-height: 75px;
    margin: 10px;
    border: 3px solid #333;
    background-color: aquamarine;
    
}
.top-seed-7 {
    
}
.top-seed-8 {
    flex-grow: 2;
    text-align: center;
    display: flex;
}

.top-seed-8 p {
    margin-block: 2em 0;
    margin-right: auto;
    margin-left: 0.75em;
    text-align: center;
}